.container{
    align-items: center;
    align-content: center;
}

.aboutMe {
    text-align: center;
    margin-bottom: 15rem;
}

.IQtestResult{
    text-align: center;
    font-size: 2rem;
}

.IQtestResult a{
    text-decoration:none;
    color: black;
}


.IQtestResult img{
    width: 10rem;
}

.IQtestResult img:hover{
    width: 11rem;
    
}


.intro p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: fit-content;
    
}

.achDiv{
    margin: 3rem 0;
}

.buttonFont{
    margin-top: 2rem;
}


.intro{
    max-width: 80%;
    margin : 18rem auto;
}


.compName{
    margin-top: 3.5rem;
    margin-bottom: 0.2rem;
}

#workExperience p{
    margin-top: 0px;
}

.icons{
    text-align: center;
    margin-top: 1rem;
}

.icons img{
    width: 2.8rem;
    margin: 0 1rem 0 0 ;
}