

/* .mainPageContainer{
    background-image: url("./wallpaperbetter.jpg");
    background-size: auto;
    height: 100;
    width: 100%;
} */


.mainPageContainer{
    background-image: url("./sky.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.text1{
    color:aliceblue;
    padding-top: 10%;


}
.text2{
    color:aliceblue;
    padding-top: 3%;
}
.text3{
    color:aliceblue;
    padding-top: 3%;
}